# Node.js en general
node_modules/
package-lock.json

# Ignorar backend y frontend individuales
server/node_modules/
client/node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno globales
.env

# Directorios de compilación y caché
.cache/
dist/
build/
coverage/

# Archivos del sistema
.DS_Store
Thumbs.db
